# Introduction

- In the following midterm project , We will use the [Hotel booking demand data set](https://www.kaggle.com/jessemostipak/hotel-booking-demand) from Kaggle, to predict whenever a Hotel will be fully packed with reservations at a determined time .

## Task: Predict the possibility of a booking

In [1]:
# importing necessary modules


import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import gc

color = sns.color_palette()

import subprocess

from subprocess import check_output
import gc

%matplotlib inline

## Downloading  the data set

In [3]:
!kaggle datasets download -d jessemostipak/hotel-booking-demand

Downloading hotel-booking-demand.zip to /home/elegant00/Downloads/Project_V2
100%|██████████████████████████████████████| 1.25M/1.25M [00:00<00:00, 1.48MB/s]
100%|██████████████████████████████████████| 1.25M/1.25M [00:00<00:00, 1.43MB/s]

In [6]:
# Unziping the data 
import zipfile
with zipfile.ZipFile('hotel-booking-demand.zip', 'r') as zip_ref:
    zip_ref.extractall('input')\

os.remove('hotel-booking-demand.zip')

## Reading the data set

In [7]:
df = pd.read_csv('input/hotel_bookings.csv')

In [8]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [9]:
# checking amount of rows and columns

df.shape

(119390, 32)